@import "../../../variables.scss";
div.peliculas-container{
  margin: 20vh 0 5vh 0;
  padding: 0 4vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  column-gap: 4vw;
  row-gap: 5vw;
}
button.lista{
  display: block;
  width: 40vw;
  font-size: 3vw;
  margin: 10vh auto 10vh auto;
  @extend .center;
  background: linear-gradient(to right, $light 50%, $blanco 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all .5s linear;

  i{
    margin-left: 2vw;
  }

  &:hover{
    background-position:left bottom;
    color: $base;
  }
}


