@import "../../../variables.scss";
div.peliculas-container {
  margin: 20vh 0 5vh 0;
  @media #{$telefono}{
    margin-top: 15vh;
  }
  @extend .moviesContainer;
}
a {
  color: $detalles;

  button.lista {
    display: block;
    width: 40vw;
    font-size: 3vw;
    font-family: $primary;
    margin: 10vh auto 10vh auto;
    @extend .center;
    background: linear-gradient(to right, $light 50%, $blanco 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s linear;

    @media #{$telefono}{
      width: 84vw;
      font-size: 4vw;
      padding: 4vh 0;
    }

    i {
      margin-left: 2vw;
    }

    &:hover {
      background-position: left bottom;
      color: $base;
    }
  }
}
