@import "../../../variables.scss";
#closeModal{
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: transparent;
  z-index: 1;

  .close{
    position: relative;
    top: 10vw;
    right: 10vw;
    color: $blanco;
    font-size: 10vw;
  }
}
nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 10vmin;
  @extend .center;
  background-color: $blanco;

  &::after {
    content: " ";
    width: 100%;
    background-color: $light;
    position: absolute;
    height: 1vw;
    top: 10vmin;
    z-index: -1;
  }

  ul{
    list-style: none;
    @extend .center;

    li{
      text-decoration: none;
      display: inline-flex;
      margin: 2vw;
      font-weight: bold;
      font-size: 1.5vw;
      @extend .center;

      a{
        text-decoration: none;
        color: $detalles;
        cursor: pointer;

        &.logOut{
          color: $base;
          font-size: 3vw;
        }
      }

      .pp{
        border-radius: 50%;
        border: 2px solid $base;
        height: 5vh;
        margin-left: 1vw;
        list-style: none;
        display: flex;
      }
    }
  }
}

//Telefono
@media only screen and (max-width: 768px) and (orientation: portrait) {
}
