<div class="detalles-container">
  <div class="img-container">
    <img [src]="'https://image.tmdb.org/t/p/original' + this.peliculas.poster_path" alt="">
    <button class="btn-sec reserva-btn" [routerLink]="['/reservas']">Reservar Funcion</button>
  </div>
  <div class="info">
    <h2><button (click)="favorited()" class="favButton" *ngIf="logged">
      <ng-template [ngIf]="!favorite" [ngIfElse]="fav"><i class="far fa-heart"></i></ng-template>
      <ng-template #fav><i class="fas fa-heart"></i></ng-template>
    </button>{{peliculas.title}}
    </h2>
    <p class="overview">{{peliculas.overview}}</p>
    <p>Idioma: <span>{{peliculas.spoken_languages[0].name}}</span></p>
    <p>Generos:<span *ngFor="let generos of peliculas.genres"> {{generos.name}} </span></p>
    <p>Presupuesto: <span>{{peliculas.budget | currency}}</span></p>
    <p>Popularidad: <span>{{peliculas.vote_average}}</span></p>
    <p>Productoras: <br><span *ngFor="let productora of peliculas.production_companies"> {{productora.name}} </span></p>
    <p>Estreno: <span>{{peliculas.release_date}}</span></p>
    <p>Status: <span>{{peliculas.status}}</span></p>
  </div>
</div>
