@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

h1,h2,h3,h4,h5,h6,a{
  font-family: $primary;
}

p{
  font-family: $secondary;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:visited{
  color: initial;
}

body {
  background-color: $base;
  overflow-x: hidden;
}

button{
  &:focus{
    outline: none;
  }
}

button.btn-pri{
  border: none;
  background-color: $base;
  padding: 2vh 3vw;
  cursor: pointer;
}

button.btn-sec{
  color: $detalles;
  border: 3px solid $base;
  background-color: $blanco;
  padding: 1.5vh 3vw;
  cursor: pointer;
  font-weight: bold;
}

button.btn-alt{
  border: 3px solid $base;
  background-color: $blanco;
  padding: 1.5vh 3vw;
  border-radius: 5px;
  cursor: pointer;
}

h2.logo{
  font-size: 2vw;
  color: $base;
  font-family: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  @media #{$telefono}{
    font-size: 4vw;
  }

  i{
    font-size: 3vmax;
    margin-right: 1vw;
    @media #{$telefono}{
      font-size: 5vmax;
    }
  }
}
