$base: #1C1B20;
$detalles: #831D0F;
$blanco: #FFFEEA;
$light:  #c95040;
// $alternativo: #FFA31A;

$primary: "Oswald", Arial, Helvetica, sans-serif;
$secondary: 'Open Sans', sans-serif;

$telefono: "(max-width: 768px)";
$tablet: "(min-width: 769px && max-width: 992px)";
$px: "(min-width: 992px)";

.center{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.moviesContainer{
  padding: 0 4vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  column-gap: 4vw;
  row-gap: 5vw;

  @media #{$telefono}{
    padding: 0 10vw;
    width: 100vw;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    row-gap: 6vw;
  }
}


