$base: #1C1B20;
$detalles: #831D0F;
$blanco: #FFFEEA;
$light:  #c95040;
// $alternativo: #FFA31A;

$primary: "Oswald", Arial, Helvetica, sans-serif;
$secondary: 'Open Sans', sans-serif;

.center{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
